<% include partials/header %>


<main class="home-page-content">
  <section class="widgets-section">

    <!-- Weather Widget -->
    <div class="weather-widget element-style-1 info-widget">
      <h3>⛅ Local Weather</h3>
      The current weather in Barbados is:
      <span class="weather-info main-highlight">
        <%= data.temperature %><span>&#176;C</span> and
        <%= data.skytext %>
        <img class="weather-img" src="<%=data.imageUrl%>" alt="">
      </span>
    </div>
    
    <!-- Fuel Price widget -->
    <div class="fuel-price-widget element-style-1 info-widget">
      <h3>⛽ Prices - $/liter </h3>
      <span class="fuel-price-container">
        <p>Gasoline ($/liter): <span class="fuel-price main-highlight">$<%= data.gasPrice * 2 %></span></p>
        <p>Diesel ($/liter): <span class="fuel-price main-highlight">$<%= data.dieselPrice * 2 %></span></p>
      </span>
    </div>
    
    <!-- Fx widget -->
    <div class="currency-info-widget element-style-1 info-widget">
      <h3>💱 FX Rates</h3>
      <span class="currency-info-container">
        <p>£1 GBP: <span class="fx-rate main-highlight" id="gbp">$<%= data.gbp.toFixed(2) %> BBD</span></p>
        <p>$1 CAD: <span class="fx-rate main-highlight" id="cad">$<%= data.cad.toFixed(2) %> BBD</span></p>
      </span>
    </div>
  </section>


  <!-- Website Description -->
  <div class="welcome-text element-style-1">
    <h1 class="page-title">📰 Mobaton-a News</h1>
    <h3>Your Bajan News Aggregator Site</h3>
    <p>Browse the latest news from several local news sites updated hourly⏰</p>
  </div>

  <!-- Filter Div -->
  <div class="filter-div-container">
    <div class="filter-div element-style-1">
      <p class="filter-text">
        <i class="fas fa-filter"></i>
        Filters:
      </p>
      <p>
        <a href="/" class="filter" id="recent">Most Recent⏳</a>
      </p>
      <p>
        <a href="/filter/corona" class="filter" id="corona">COVID-19🦠</a>
      </p>
      <p>
        <a href="/filter/daily" class="filter" id="daily">Today⌚</a>
      </p>
      <p>
        <a href="/filter/yesterday" class="filter" id="yesterday">Yesterday⌛</a>
      </p>
      <p>
        <a href="/filter/tomorrow" class="filter">Tomorrow🔮</a>
      </p>
    </div>
  </div>

  <div style="text-align: center;" id="page-name">
    
  </div>

  <div class="main-content">
    <% for(var i = 0; i < articles.length; i++){ %>
        <% for(var j = 0; j < articles[i].data.length; j++){ %>
          <div class="article-card">
            <!-- Article thumbnail -->
            <div class="article-thumbnail-div">
              <%# Show image if an image was scrapped  %>
              <% if(articles[i].data[j].imgURL){ %>
                <a href="<%= articles[i].data[j].link %>" target="_blank">
                  <img src="<%= articles[i].data[j].imgURL %>" alt="" class="article-thumbnail">
                </a>       
              <% } else { %>
                <a href="<%= articles[i].data[j].link %>" target="_blank">
                  <img src="https://img.icons8.com/dusk/64/000000/no-image.png" class="article-thumbnail">
                </a>
              <% } %>
            </div>
            <div class="article-headline-div">
              <a href="<%= articles[i].data[j].link %>" target="_blank"<%#prevent event bubbling from anchor element to parent list element%> onclick="event.stopPropagation()" class="article-headline">
                <%= articles[i].data[j].headline %>
              </a>
            </div>
            <!-- Article Summary Information -->
            <div class="article-summary-div">
              <a href="<%= articles[i].data[j].link %>" target="_blank"">
              <p>
                <%# LIMIT CHARACTER COUNT TO 285 %>
                <%= articles[i].data[j].summary ? articles[i].data[j].summary.substring(0, 285) : "" %>      
              </p>
              </a>
              <p></p>     
            </div>
            <!-- Article Card Footer Div -->
            <div class="article-card-footer">
              <div class="website-name-div">
                <span class="website-name">
                  <a href="<%= siteInfo(articles[i]._id).URL %>" target="_blank">
                    <img class="website-favicon"
                      src="https://s2.googleusercontent.com/s2/favicons?domain=<%= siteInfo(articles[i]._id).URL %>" alt="">
                    <%= siteInfo(articles[i]._id).name %>
                  </a>
                </span>
              </div>
              <div class="article-date-div">
                <span class="article-date">
                📅 <%= dateStandardiser(articles[i].data[j].date, articles[i]._id) %>
                </span>
              </div>
              <div class="article-card-share">
                <span>Share: </span>
                <!-- WhatsApp Share Link -->
                <a href="https://wa.me/?text=<%= articles[i].data[j].link %>" class="whatsApp-icon">
                  <i class="fab fa-whatsapp" style="color: #4FCE5D"></i>
                </a>
                <!--Facebook Share Link  -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=<%= articles[i].data[j].link %>" class="facebook-icon">
                  <i class="fab fa-facebook" style="color:#3B5998"></i>
                </a>
              </div>
            </div>
          </div>
      <% } %>
    <% } %>
  </div>
</main>


<% include partials/footer %>