<% include partials/header %>


<main>

  <div class="welcome-text">
    <h2>Welcome to <span class="mobaton-a-news">Mobaton-a News</span>: Your Bajan News Aggregator Site</h2>
    <p>Browse the latest news from several local news sites updated hourly</p>
  </div>

  <div class="main-content">
    <% for(var i = 0; i < articles.length; i++){ %>
    <section class="links-section <%= siteInfo(articles[i]._id).name.toLowerCase().replace(/ /g, "-") %>-section">
      <h2 class="links-header"">
        <a href=" <%= siteInfo(articles[i]._id).URL %>" target="_blank">
          <i class="fas fa-<%= siteInfo(articles[i]._id).icon %>"></i>
          <%= siteInfo(articles[i]._id).name %>
        </a>
      </h2>
      <ul class="links-list">
        <% for(var j = 0; j < articles[i].data.length; j++){ %>
        <%# Controls number of headlines displayed per website list, (max of 10), other articles are hidden %>
        <% if (j >= 10){ %>
          <li style="display:none"
            class="list-hidden--<%= siteInfo(articles[i]._id).name.toLowerCase().replace(/ /g, "-") %>">
            <a href="<%= articles[i].data[j].link %>" target="_blank" class="headline hvr-grow">
              <%= articles[i].data[j].headline %>
            </a>
            <i class="fas fa-plus share-toggler" data-articleID="<%= [i] %>.<%= [j] %>"></i>
          </li>
        <div class="links-share" id="<%= [i] %>.<%= [j] %>" style="display:none">
          <h3>Preview</h3>
          <%# Show image if an image was scrapped  %>
          <% if(articles[i].data[j].imgURL){ %>
          <img src="<%= articles[i].data[j].imgURL %>" alt="" class="article-thumbnail">
          <% } %>
          <p>
            <%= dateStandardiser(articles[i].data[j].date, articles[i]._id) %></em>
          </p>
          <p>
            <%= articles[i].data[j].summary %>
          </p>
          <span>Share:</span>
          <!-- WhatsApp Share Link -->
          <a href="https://wa.me/?text=<%= articles[i].data[j].link %>" class="whatsApp-icon">
            <i class="fab fa-whatsapp" style="color: #4FCE5D"></i>
          </a>
          <!--Facebook Share Link  -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= articles[i].data[j].link %>" class="whatsApp-icon">
            <i class="fab fa-facebook" style="color:#3B5998"></i>
          </a>
        </div>
        <% } else { %>
        <li>
          <a href="<%= articles[i].data[j].link %>" target="_blank" class="headline hvr-grow">
            <%= articles[i].data[j].headline %>
          </a>
          <i class="fas fa-plus share-toggler" data-articleID="<%= [i] %>.<%= [j] %>"></i>
        </li>
        <div class="links-share" id="<%= [i] %>.<%= [j] %>" style="display:none">
          <h3>Preview</h3>
          <%# Show image if an image was scrapped  %>
          <% if(articles[i].data[j].imgURL){ %>
          <img src="<%= articles[i].data[j].imgURL %>" alt="" class="article-thumbnail">
          <% } %>
          <p>
            <em><%= dateStandardiser(articles[i].data[j].date, articles[i]._id) %></em>
          </p>
          <p>
            <%= articles[i].data[j].summary %>
          </p>
          <span>Share:</span>
          <!-- WhatsApp Share Link -->
          <a href="https://wa.me/?text=<%= articles[i].data[j].link %>" class="whatsApp-icon">
            <i class="fab fa-whatsapp" style="color: #4FCE5D"></i>
          </a>
          <!--Facebook Share Link  -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= articles[i].data[j].link %>" class="whatsApp-icon">
            <i class="fab fa-facebook" style="color:#3B5998"></i>
          </a>
        </div>
        <% } %>
        <% } %>
      </ul>
      <%# Only display show/hide toggler for lists of > 10 articles %>
      <% if (articles[i].data.length > 10) { %>
      <!-- Show/Hide Toggler -->
      <p class="articles-toggler" data-website="<%= siteInfo(articles[i]._id).name.toLowerCase().replace(/ /g, "-") %>">
        More
        <i class="fas fa-arrow-down"></i>
      </p>
      <% } %>
    </section>
    <% } %>
  </div>
</main>


<% include partials/footer %>