<% include partials/header %>

<main class="results-content">
  <!-- Search Form -->
  <form action="/results" method="GET" class="search-form">
    <div class="search-fields">
      <div>
        <label for="siteName">Website</label>
        <select name="siteID" id="siteName" required>
          <%# ensure that searched website option is the first option available to user %>
          <option value="<%= siteID %>"><%= siteInfo(siteID).name %></option>
          <% for(let i = 0; i < siteInfo().count; i++){ %>
          <%# Ensure that website name option element is not duplicated (element created two lines above this one) %>
            <% if(i !== siteID) { %>
              <option value="<%= i %>"><%= siteInfo(i).name %></option>
            <% } %>
        <% } %>
        </select>
      </div>

      <div>
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" min="2019-01-01" name="startDate" value="<%=dates.startDate%>" required>
      </div>

      <div>
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" min="<%=dates.startDate%>"" max="" name="endDate" value="<%= dates.endDate%>">
      </div>
    </div>

    <div class="search-button-div">
      <button>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>

  <section class="results-header">
    <h2>
      <% if(articleCount === 1){ %>
      <%=articleCount%> Result
      <% } else { %>
      <%=articleCount%> Results
      <% } %>
    </h2>
    <%# Only display elements below if artiles are returned from query %>
    <% if(articleCount > 0){ %>
      <div class="date-chooser">
        <h3>Scroll to Date</h3>
        <% for(var i = 0; i < articles.length; i++) { %>
        <a class="date-link" href="#<%= articles[i]._id%>"><%= articles[i]._id%></a>
        <% } %>
      </div>
      <h1 class="results-site-name">
        <a href="<%= siteInfo(siteID).URL %>" target="_blank">
          <i class="fas fa-<%= siteInfo(siteID).icon %>"></i>
          <%= siteInfo(siteID).name %>
        </a>
      </h1>
    <% } else { %>
      <div></div>
    <% } %>

  </section>
  <!--Results Lists-->
  <section class="main-content results-list">
    <%# Iterate through each results array element %>
    <% for(var i = 0; i < articles.length; i++){ %>
    <div class="articles-list">
      <h2 class="links-header results-date" id="<%= articles[i]._id %>%>"><i class="fas fa-calendar-alt"></i>  Date: <%= articles[i]._id%></h2>
      <% if(articles[i].data.length === 1){ %>
        <h4 class="article-count"><%= articles[i].data.length%> article found for this date</h4>
      <% } else { %>
        <h4 class="article-count"><%= articles[i].data.length%> articles found for this date</h4>
      <% }%>

      <ul class="links-list">
        <%# Iterate through each archive document %>
        <% for(var j = 0; j < articles[i].data.length; j++){ %>
        <% if(j>=10){ %>
        <li style="display:none" class="list-hidden--<%= siteInfo(siteID).name.toLowerCase().replace(/ /g, "-") %>">
          <a href="<%= articles[i].data[j].link %>" target="_blank" class="headline hvr-grow">
            <%= articles[i].data[j].headline %>
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="<%= articles[i].data[j].link %>" target="_blank" class="headline hvr-grow">
            <%= articles[i].data[j].headline %>
          </a>
        </li>
        <% }%>
        <% } %>
      </ul>

      <%# Only display show/hide toggler for lists of > 10 articles %>
      <% if (articles[i].data.length > 10) { %>
      <!-- Show/Hide Toggler -->
      <p class="articles-toggler" data-website="<%= siteInfo(siteID).name.toLowerCase().replace(/ /g, "-") %>">
        More
        <i class="fas fa-arrow-down"></i>
      </p>
      <% } %>
    </div>
    <% } %>
  </section>
</main>

<% include partials/footer %>