<% include partials/header %>

<div class="pageContent">
  <% for(var i = 0; i < articles.length; i++){ %>
    <div>
      <h2>
        <%= siteInfo(articles[i]._id).name %>
      </h2>
      <% for(var j = 0; j < articles[i].data.length; j++){ %>
      <ul>
        <li>
          <a href="<%=articles[i].data[j].link%>" data-tippy-content="<%= articles[i].data[j].date %> <%= articles[i].data[j].summary %>">
            <%= articles[i].data[j].headline %>
          </a>
        </li>
      </ul>
      <% } %>
    </div>
  <% } %>
</div>


<% include partials/footer %>